<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="log %d{UNIX_MILLIS} %level %logger{7} %M %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.brettonw" level="debug" />
        <Root level="warn">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
