target
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.DS_Store
.idea
*.iml
.settings
.project
.cache*
build.txt
/applications/bedrock-site/src/main/webapp/js/bedrock-debug.js
/applications/bedrock-site/src/main/webapp/js/bedrock.js
*SNAPSHOT.js
/applications/bedrock-site/src/main/webapp/docs/*
!/applications/bedrock-site/.elasticbeanstalk/config.yml
