<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>bedrock-service</servlet-name>
        <servlet-class>com.brettonw.bedrock.Service</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>bedrock-service</servlet-name>
        <url-pattern>/api</url-pattern>
    </servlet-mapping>
    <session-config>
        <cookie-config>
            <http-only>true</http-only>
            <secure>true</secure>
            <same-site>strict</same-site>
        </cookie-config>
    </session-config>
</web-app>
