<!-- Root tag styling -->
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    font-family: sans-serif;
    font-size: 14px;
    color: black;
    text-align: left;
    width: 100%;
    max-width: 900px;
    margin: 5px auto !important;
    float: none !important;
}

h1 {
    margin: 10px 0px;
    padding: 0px 0px;
}

h2 {
    margin: 8px 0px;
    padding: 0px 0px;
}

ul {
    margin: 0px 15px;
    padding: 0px 0px;
}

li {
    margin: 5px 0px;
    padding: 0px 0px;
}

<!-- Bedrock specific tags -->
.page-container-div {
    border-radius: 6px;
    border-width: 1px;
    border-color: #ddd;
    border-style: solid;
    background: #fdfdfd;
    padding: 5px 20px 12px;
}

.section-content-div {
    padding: 0px;
    margin: 0px 0px 10px 15px;
}

div[id="bedrockContainer"] {
    display: inline-block;
    font-family: sans-serif;
    font-size: 12px;
    text-align: left;
    padding: 4px 0px;
    width: 100%;
}

.odd {
    background-color: aliceblue;
}

<!-- ComboBox styling tags -->

.combobox-input {
    width: 125px;
    height: 23px;
    padding: 2px 17px 2px 4px;
    border-width: 1px;
    border-color: #bbb;
    border-style: solid;
    border-radius: 3px;
    font-size: 12px;
    font-family: sans-serif;
    -webkit-appearance: none;
    background: url("../img/down-arrow.png") no-repeat right center rgba(255, 255, 255, 1.0);
    background-size: 15px;
    margin-bottom: 4px;
}

.combobox-pseudo-parent {
    position: relative;
    width: 0;
    height: 0;
}

.combobox-options {
    position: absolute;
    top: -2px;
    display: none;
    overflow-y: scroll;
    z-index: 100;
    max-height: 200px;
    opacity: 0.9;
    background-color: white;
    border-color: #bbb;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    width: 175px;
}

.combobox-option {
    opacity: 1;
    height: 19px;
    padding: 2px 4px;
    font-size: 11px;
    line-height: 15px;
    font-family: sans-serif;
    color: black;
    vertical-align: middle;
}

.combobox-option-label {
    margin-left: 10px;
    height: 19px;
    line-height: 11px;
    padding: 2px 4px;
    font-size: 9px;
    color: gray;
    width: 95%;
    text-align: right;
}

.combobox-option-hover {
    color: white;
    background-color: mediumblue;
}

<!-- Database styling tags -->

.bedrock-database-group-container {
    display: inline-block;
    font-family: sans-serif;
    font-size: 12px;
    text-align: left;
}

.bedrock-database-element-container {
    width: 130px;
    vertical-align: top;
    margin-right: 4px;
    display: inline-block;
}

.bedrock-database-element-text-div {
    width: 100%;
    height: 15px;
    margin: 4px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bedrock-database-clear-button {
    width: 100%;
    height: 23px;
    margin: 0px;
    padding: 0;
    vertical-align: top;
    border-width: 2px;
    border-color: #444;
    border-style: solid;
    border-radius: 3px;
    background: rgba(128, 128, 255, 0.66);
}
