.combobox-input {
    width: 125px;
    height: 23px;
    padding: 2px 17px 2px 4px;
    border-width: 1px;
    border-color: #bbb;
    border-style: solid;
    border-radius: 3px;
    font-size:12px;
    font-family: sans-serif;
    -webkit-appearance: none;
    background: url("../img/down-arrow.png") no-repeat right center rgba(255, 255, 255, 1.0);
    background-size: 15px;
    margin-bottom: 4px;
}

.combobox-pseudo-parent {
    position: relative;
    width: 0;
    height: 0;
}

.combobox-options {
    position: absolute;
    top: -2px;
    display: none;
    overflow-y: scroll;
    z-index: 100;
    max-height: 200px;
    opacity: 0.9;
    background-color: white;
    border-color: #bbb;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    width: 175px;
}

.combobox-option {
    opacity: 1;
    height: 19px;
    padding: 2px 4px;
    font-size: 11px;
    line-height: 15px;
    font-family: sans-serif;
    color: black;
    vertical-align: middle;
}

.combobox-option-label {
    margin-left: 10px;
    height: 19px;
    line-height: 11px;
    padding: 2px 4px;
    font-size: 9px;
    color: gray;
    width: 95%;
    text-align: right;
}

.combobox-option-hover {
    color: white;
    background-color: mediumblue;
}
