.form-container {
    vertical-align: top;
    border-radius: 4px;
    border-width: 1px;
    border-color: #ddd;
    border-style: solid;
    background: #fafafa;
    margin: 0px 0px 10px 15px;
    padding: 8px 12px 10px 12px;
    font-family: sans-serif;
    font-size: 12px;
}

.form-div {
    margin: 4px 0px;
    height: 25px;
    width: 475px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.form-button-wrapper {
    width: 392px;
    border-style: solid;
    border-radius: 2px;
    border-color: #777;
    border-width: 2px;
    margin-top: 10px;
}

.form-submit-button {
    border: none;
    width: 100%;
    height: 100%;
    background: rgba(196, 196, 255, 0.66);
    line-height: 15px;
    padding: 4px 5px;
}

.form-title-div {
    display: inline-block;
    height: 100%;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.form-error {
    visibility: hidden;
    display: inline-block;
    width: 80px;
    margin-left: 5px;
    height: 100%;
    color: red;
    display: flex;
    align-items: center;
}

.form-input-div {
    height: 100%;
    width: 250px;
}

.form-input {
    height: 100%;
    width: 100%;
    padding: 4px 5px;
}

select.form-input {
    background: url("../img/down-arrow.png") no-repeat right center rgba(255, 255, 255, 1.0);
    background-size: 15px;
    height: 25px;
    line-height: 15px;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 2px;
    border-style: solid;
    -webkit-appearance: none;
}

input[type=text].form-input {
    border-width: 1px;
    border-color: #ddd;
    border-radius: 2px;
    border-style: solid;
    -webkit-appearance: none;
}

input[type=checkbox].form-input {
}

.combobox-options {
    width: 325px;
}
